.deleteOverlay {
  position: fixed; /* Sit on top of the page content */
  display:none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#displayDeleteOverlay {
  display:flex;
}

.deleteButtons {
  display: flex;
  flex-direction: column;
}

.deleteButtons > button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  align-self: center;
  width: 100%;
  -webkit-font-smoothing: 2rem;
}

.deleteButton {
  background-color: rgb(255, 53, 53);
  color: azure;
}

.dontDeleteButton {
  background-color: rgb(47, 255, 75);
}

.deleteOverlayFormBackground {
  background-color:#ffb997;
  padding:3rem;
}


@media only screen and (max-width: 600px) {
  .deleteOverlayFormBackground {
    padding: 1rem;
    margin: 25px;
  }

  .deleteButtons > div, .deleteButtons > button {
    margin:1.2rem;
  }

}

.deck-buttons {
  display: grid;
  justify-content: space-around;
  margin: 0;
  height: 3.5rem;
  align-content: center;
}

.deck-buttons > a {
  padding: 1rem;
}

.two-buts {
  grid-template-columns: 1fr 1fr;
}
.three-buts {
  grid-template-columns: 1fr 1fr 1fr;
}

.cardl:nth-child(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.cardl:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0;
}

.cardl:nth-child(3) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.cardl:nth-child(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.cardl:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0;
}

#newcard-attributes {
  border: none;
  border-radius: 0;
  transition: all 1s ease-in-out;
  width: 17rem;
  justify-self: center;
}

#card-attributes {
  border: none;
  border-radius: 0;
  transition: all 1s ease-in-out;
  max-width: 17rem;
  justify-self: center;
}

@media only screen and (max-width:700px) {

  #newcard-attributes {
    border: none;
    border-radius: 0;
    transition: all 1s ease-in-out;
    width: 17rem;
    justify-self: center;
  }

  .deck-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
  }

  .deck-buttons > a {
    padding: 1rem;
    align-content: none;
    /* height: 0; */
  }

}