body {
  margin: auto 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(11, 3, 45, 1);
}

.App {
  text-align: center;
  background-color: rgba(11, 3, 45, 1);
  min-height: 100vh;
  margin: auto 0;
  transition: all 4s;
}

*:focus {
  outline: none;
}

.container-main {
  background: rgb(246, 184, 125);
  background: linear-gradient(
    180deg,
    rgba(246, 184, 125, 1) 0%,
    rgba(246, 126, 125, 0.9) 49%,
    rgba(246, 125, 125, 1) 100%
  );
  width: 85%;
  justify-self: center;
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.159);
  padding: 2rem;
  padding-bottom: 5rem;
  min-height: 90vmin;
}

.container {
  margin: 1rem auto;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(45, 42, 42, 0.159);
}

.center-on-page {
  flex-direction: column;
  justify-content: center;
  height: 80vmin;
  display: flex;
}

.bdr-radius {
  border-radius: 5px;
}

.lt-bg-1 {
  background: #ffb997;
}
.lt-bg-2 {
  background: #f67e7d;
}
.lt-bg-3 {
  background: #cd5e5e;
}
.wt-bg {
  background: azure;
}
.md-bg {
  background: #843b62;
}
.dk-bg-1 {
  background: #621940;
}
.dk-bg-2 {
  background: #0b032d;
}

.txt-dk > * {
  color: #0b032d;
}

.txt-dk {
  color: #0b032d;
}

.txt-md {
  color: #843b62;
}

.txt-white {
  color: azure;
}

.txt-white-a > * {
  color: azure;
}
.txt-white-a > *:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
  color: azure;
}


button:focus {
  outline: none;
}

.hidden {
  transition: all .4s;
  background: rgb(50, 60, 71);
  color: white;
  border: none;
  transform:scale(1);
  height:3.5rem;
}

.hidden:hover {
  transition: all 0.4s;
  transform: scale(1.05);
  text-decoration: underline;
  cursor: pointer;
}

.nothidden {
  transition: all .4s;
  background: #ffb997;
  border: none;
  transform:scale(1);
  height:3.5rem;
}

.nothidden:hover {
  transition:all .4s;
  transition: transform 0.2s;
  transform: scale(1.05);
  text-decoration: underline;
  cursor: pointer;
}

.big-txt {
  font-size: 2.4rem;
}

.md-txt-3 {
  font-size: 1.6rem;
}

.md-txt-2 {
  font-size: 1.4rem;
}

.md-txt-1 {
  font-size: 1.1rem;
}

.sm-txt {
  font-size: 1rem;
}

.shdo-dk {
  box-shadow: 0px 0px 10px 5px rgba(45, 42, 42, 0.559);
}

.shdo-lt {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.159);
}

.flx-spc-ard {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  margin: 0 1rem;
}

.input-area-top {
  padding: 1rem;
  margin: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.input-area-bottom {
  padding: 1rem;
  margin: 1rem;
  padding-top: 0;
  margin-top: 0;
}

.flx-item-big {
  transition: all 0.5s ease-in-out;
  flex-grow: 1;
}

.flx-item-big:focus {
  transition: all 0.4s ease-in-out;
  flex-grow: 3;
}

.txt-left {
  text-align: left;
  justify-self: flex-start;
  /* width: fit-content; */
  flex-grow: 1;
}

.txt-left:last-child {
  margin-left: 0.9rem;
}

.card-container {
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(45, 42, 42, 0.159);
}

.card-number {
  display: block;
  width: auto;
  height: 0;
  text-align: start;
  transform: translate(2rem, 5px);
}

.flx {
  display: flex;
}

.flx-ctr-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-head {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
  width: -webkit-fill-available;
  font-size: larger
}

textarea::-webkit-scrollbar {
  display:none
}

textarea {
  border-radius: 10px;
  resize: none;
  padding: 1.7rem;
  padding-top: 4.5rem;
  height: 12rem;
  font-size: larger;
  scrollbar-width: none;
}

.card-grid {
  display: grid;
  padding: 5vmin;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: inherit;
  grid-row-gap: 5vmin;
  border-top: 1px solid black;
}

#cardview-grid {
  display: grid;
  padding: 5vmin;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: inherit;
  grid-row-gap: 5vmin;
  border-top: 1px solid black;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.delete-deck {
  transition: all 0.2s;
  font-size: 24px;
  width: auto;
  height: 0;
  text-align: end;
  transform: translate(-10px, -5px);
}

.delete-deck:hover {
  font-size: 35px;
  width: auto;
  height: 0;
  text-align: end;
  transform: translate(-7px, -15px);
}

.txt-right {
  float: right;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: end;
  padding: 5px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
}

.quote-container {
  position: relative;
  height: 4rem;
  width: auto;
}

.quote-container > * {
  padding-left: 6rem;
  margin: 0;
  text-align: left;
}

.quote-anim > * {
  -webkit-animation: fadeQuote 7s;
  -moz-animation: fadeQuote 7s;
  animation: fadeQuote 7s;
}

@keyframes fadeQuote {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flex-ctr-ctr-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto 1rem;
  flex-wrap: wrap;
}

.align-ctr {
  justify-content: center;
}

.cards-front,
.cards-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 253, 253);
  color: black;
  border-radius: 3px;
}

.card-front {
  margin: 2rem;
}

.card-back {
  margin: 2rem;
}

.card-index {
  height: 0;
  text-align: right;
  margin-right: 5px;
}

.card-front {
  width: 300px;
  height: 200px;
  border-radius: 3px;
}

.card-back {
  width: 300px;
  height: 200px;
  border-radius: 3px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 0.4s ease-out;
  transform-style: preserve-3d;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.align-ctr {
  justify-content: center;
}

.newcard-card {
  height:17em;
  width:17em;
  justify-self: center;
}

@media only screen and (max-width: 900px) {
  .quote-container {
    display: none;
  }
}

@media only screen and (max-width: 700px ) {

  /* quote mobile */
  .quote-container > * {
    padding:0px;
    text-align: center;
  }

  /* deck list page mobile */
  .newcard-card {
    width: auto;
  }

  .nothidden, .hidden {
    height: 3.5rem;
    font-size:1.1rem;
  }

}

@media only screen and (max-width: 450px) {

  #mobile-size {
    width:100%;
    padding: 0;
  }

  .container-main {
    padding: 1.5rem;
  }
}